

body, html {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  background-color: grey;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.setup {
  font-size: 4vh;
  margin: 0;
  font-family: 'Sulphur Point', sans-serif;
}

.punchline {
  font-size: 8vh;
  font-family: 'Sulphur Point', sans-serif;
  margin: 3vh;
}

@media screen and (max-width: 1000px){
  .setup{
    font-size: 2vh;
  }

  .punchline{
    font-size: 3.5vh;
  }
}

/* media query for iphone 5 */

/* @media screen and (device-aspect-ratio: 40/71) {
  .setup{
    font-size: 1vh;
  }

  .punchline{
    font-size: 2.5vh;
  }
} */

